.inwave_content {
    padding-bottom: 10vh;
}
.content_box {
}

.post_list_box {
    padding-top: 50px;
}

.content_box > h3 {
    text-align: center;
    font-size: 40px;
}
.headline {
    border: 1px solid white;
    margin: 0 auto;
    width: 70vw;
    max-width: 300px;
}