/*------------------------------
 ▼共通デザイン（モバイル向け）
 -------------------------------*/
@charset "UTF-8";
body {
    margin: 0;
}

.container_row {
    display: flex;
    flex-direction: row;
}
.container_column {
    display: flex;
    flex-direction: column;
}
.flex_space-around {
    justify-content: space-around;
}
.flex_space-between {
    justify-content: space-between;
}
.flex_center {
    justify-content: center;
}
.text_center {
    text-align: center;
}
.topbottom_center {
    margin-top: auto;
    margin-bottom: auto;
}
.flex_align_center {
    align-items: center;
}

/** HEADLINE */
.headline {
    text-align: left;
    color: #3011B1;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin: 30px auto 200px auto;
}
.headline img {
    width: 100px;
}
.headline_highlight {
    width: 100%;
    background: linear-gradient(to top, #B8E7FC 0% 50%, rgba(0,0,0,0) 50% 100%)
}
#headline_line {
    position: absolute;
    top: 130px;
    /* left: 20px; */
    left: 1%;
    transform: rotate(-8deg);
    transform-origin: top center;
}
#headline_pic1 {
    width: 80px;
    position: absolute;
    top: 110px;
    /* right: 150px; */
    right: 20%;
}
#headline_pic2 {
    width: 90px;
    position: absolute;
    /* right: 40px; */
    right: 2%;
    top: 190px;
    transform: rotate(8deg);
}
/** ↑absoluteつかってひどい状態になっているのでいずれ修正してください. */

/** HEADNEWS */
.headnews {
    /* text-align: center; */
    margin: 30px auto;
    /* padding: 10px; */
    border: solid;
    border-width: 3px;
    border-color: #5132D3;
    background-color: white;
    width: 361px;
    height: 180px;
}
.headnews img {
    width: 97px;
    border-radius: 50%;
    /* border: 2px solid #5132D3; */


    position: relative;
}
.headnews_img {
    position: relative;
    border-radius: 50%;
    /* border: 2px solid #5132D3; */

    width: 97px;
}
/* :after と spanを使ってアイコンに2重線を引いてます */
.headnews_img > span{
    content: "";
    position: absolute;
    top: -3%;
    left: -3%;
    height: 97px;
    width: 97px;

    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    border: 1px solid #5132D3;
}
.headnews_img::after{
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    height: 97px;
    width: 97px;

    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    border: 1px solid #5132D3;
}

.headnews_head {
    white-space: nowrap;
    width: 60%;
    text-align: left;
    background-color: #5132D3;
    color: white;
    font-size: 8px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 80% 100%);
}
.headnews_time {
    white-space: nowrap;
    text-align: right;
    font-size: 8px;
    /* margin-left: -10px; */
}
.headnews_title {
    text-align: left;
    font-size: 20px;
    width: 225px;
    height: 105px;
    margin: 10px;
    color: black;
}
.headnews_desc {
    /* no-mobile */
    font-size: 18px;
}
.headnews_author {
    font-size: 8px;
    color: #5132D3;
}
.headnews_left {
    margin: 6px;
    width: 100px;
}
.headnews_left_item {
    margin: 0px auto 12px auto;
}
.headnews_readmore {
    background-color: #5132D3;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 3px;
    width: 210px;
    height: 37px;
    font-size: 20px;
    font-weight: 100;
    clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 100% 100%);
    
    margin-left: auto;
    margin-right: -3px;
    margin-top: 24px;
    margin-bottom: 0;
}
.headnews .item {
    text-align: center;
    /* margin-bottom: 20px; */
    height: 100%;
}

.inwave_content {
    background-color: #82D5FA;
    margin-top: -10px;
    padding: 10px 10px 80px 10px;
}
.main_wave {
    /* margin-top: -30px; */
    margin: -30px 0 auto 0;
    width: 100%;
}
.mobile_selector {
    margin: 0px auto;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.mobile_selector_item {
    /* border: 1px solid #5132D3; */
    background: radial-gradient(at 70% 10%, #5132D3 10%, #82D5FA 170%, #82FAAC 300%);
    width: 172px;
    height: 80px;
    margin: 2.5px;
    color: white;
}
.moblie_selector_h3 {
    font-size: 20px;
}
.moblie_selector_h4 {
    font-size: 14px;
}

.wavify_wave {
    width: 100%;
    height: 130px;
    margin: 0;
}
.copyright {
    color: white;
    margin: -10px 0 0 0;
    padding-bottom: 15px;
    background-color: #82D5FA;
    text-align: center;
}

/** ２ページ目 */
.topics {
    margin: 10% auto;
}
.topics_item > h3 {
    font-size: 26px;
}
.topics_item > h4 {
    font-size: 16px;
}
.topics_border{
    width: 172px;
    height: 1px;
    background-color: #5132D3;
    margin: 0 auto 20px auto;
}

.read_more {
    width: 179px;
    height: 40px;
    padding-top: 8px;
    margin: 10px auto auto 5%;
    font-size: 15px;
    background-color: #5132D3;
    color: white;
    text-align: center;
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);
}

 /*-------------------------------------
 ▼中型画面向けデザイン（タブレットなど）
 --------------------------------------*/
@media screen and (min-width: 768px) {
    .main_wave {
        margin-top: 50px;
    }

    .headline {
        text-align: center;
        color: #3011B1;
        width: 100%;
        font-size: 100%;
        margin-bottom: 100px;
    }
    .headline img {
        width: 100px;
    }

    .headnews {
        border: solid;
        border-width: 5px;
        border-color: #5132D3;
        width: 861px;
        height: 378px;
    }
    .headnews img {
        width: 230px;
    }
    .headnews_img {
        width: 230px;
        margin: 0;
        padding: 0;
    }
    /* :after と spanを使ってアイコンに2重線を引いてます */
    .headnews_img > span{
        height: 230px;
        width: 230px;
    }
    .headnews_img::after{
        height: 230px;
        width: 230px;
        border: 1px solid #5132D3;
    }

    .headnews_head {
        font-size: 20px;
        /* clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 80% 100%); */
    }
    .headnews_time {
        font-size: 20px;
        /* margin-left: -10px; */
    }
    .headnews_title {
        font-size: 26px;
        width: 90%;
        height: 105px;
        margin: 10px 30px 10px 10px;
        text-align: left;
    }
    .headnews_desc {
        /* no-mobile */
        font-size: 18px;
        width: 90%;
        text-align: left;
        margin: 10px 30px 10px 10px;
    }
    .headnews_author {
        font-size: 20px;
    }
    .headnews_left {
        /* margin: 6px; */
        width: 40%;
        margin: 6px auto;
        padding-left: 20px;
    }
    .headnews_left_item {
        margin: 10px auto 20px auto;
    }
    .headnews_right {
        height: 200px;
        padding-top: 50px;
        padding-left: 20px;
    }
    .headnews_readmore {
        text-align: center;
        padding: 16px 0 0 0 ;
        margin: 40px 30px 10px auto;

        width: 235px;
        height: 66px;
        font-size: 20px;
        font-weight: 100;

        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        border-radius: 50px;
    }
    .headnews .item {
        text-align: center;
        /* margin-bottom: 20px; */
        height: 100%;
    }
    
    .headline_highlight {
        font-size: 2vw
    }
}
/*-------------------------------
▼大型画面向けデザイン（PCなど）
--------------------------------*/
@media screen and (min-width: 1024px) {

}